body{
	background-image: #;
}
h1{
	background-color: #ffffff;
	border-color: #cccccc;
	color: #4aaaa5;
}
p{
	color: #777777;

}
.header{
	border-bottom: solid gray 1px;
}
.nav{
	padding-bottom: 20px;
	float: right;
}
.about{
	background-color: grey;
	padding: 25px;
	margin: 25px;
	box-shadow:5px;
	width: 500px;

}

#name{
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 15px;
	width: 200px;
	margin-left: 50px;
}

#PhilPhoto{
	height: 315px;
	width: 175px;
	float :left;
}