body{
	background-image: url('../images/concrete-texture.png');
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

}
h1, h2{
	color: #4aaaa5;
	font-size: 55px;
}


li{
	display: inline;

}
a{
	color: #777777;
	text-decoration: none;
}
li a{
	padding: 8px;
}

footer{
	clear: both;
}

.header{
	border-bottom: solid #cccccc 1px;
	background-color: #ffffff;
	display: flex;
}
.nav{
	padding-bottom: 20px;
	padding: 25px 50px 0px 400px;
	display: inline;
}
.about{
	background-color: #ffffff;
	padding: 25px;
	margin: 25px;
	border: solid #dddddd 1px;
	width: 500px;
	float: left;
}
.connect{
	background-color: #ffffff;
	padding: 25px;
	margin: 25px;
	border: solid #dddddd 1px;
	width: 160px;
	float: left;
}

#name{
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 15px;
	width: 225px;
	margin-left: 50px;
	font-size: 32px;
}

#PhilPhoto{
	height: 200px;
	width: 250px;
	float :left;
	padding: 20px;
}